[Unit]
Description=Query flask application
After=network.target

[Service]
User=queryapp
WorkingDirectory=/opt/queryapp
EnvironmentFile=/etc/default/queryapp
ExecStart=/usr/bin/python3 flask_query_api.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=queryapp


[Install]
WantedBy=multi-user.target

